.root
{
    -fx-background-color: cadetblue;
}

#playInputVideo_Pane,#pane2,#pane3
{
    -fx-background-color: cadetblue;
}

#logArea
{
    -fx-text-fill: crimson;
    -fx-background-color: slategrey;
    -fx-fill: slategrey;
}